[Unit]
Description=Logrotate for tidy-api every 10 minutes

[Timer]
OnCalendar=*-*-* *:0/10:00
Persistent=true
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
