__pycache__
build*/
compile_commands.json
.env
.clangd
.cache/
.ccache/
.idea/
.vscode/
!.vscode/c_cpp_properties.json
!.vscode/cmake-variants.yaml
!.vscode/README.md
.cores/
cookie.txt
cmake-build-*
ssl/
Testing/
.DS_Store
Makefile.local
CMakeUserPresets.json
openapi.yaml
